/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #f9faf8;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 200px 0;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 100px 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.hero-text {
  width: 30%;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.hero-image {
  width: 40%;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3882f6;
  padding: 4px 32px;
  border-radius: 8px;
}

.cta .btn {
  border: 2px white solid;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}

.card-header {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.card img {
  flex: auto;
  border-radius: 12px;
  height: 150px;
  margin-bottom: 8px;
}

.card p {
  color: grey;
  line-height: 1.2;
  flex-shrink: 0;
}

.image-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 35px 0 100px;
}

.testimonial {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-text {
  width: 54%;
  padding: 125px 0 100px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.author {
  font-size: 25px;
  font-weight: 700;
  text-align: end;
  padding-right: 35px;
}

.cta {
  padding: 100px 200px;
}

.cta-content h2 {
  color: white;
}

.cta-content p {
  color: #e5e7eb;
}

.cta-container {
  background-color: #3882f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
  border-radius: 8px;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 36px 0;
}

span.material-icons-outlined {
  font-size: 16px;
}
