/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  width: 80%;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #f9faf8;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}

.main {
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 150px 200px;
}

.hero-content {
  flex: 1;
}

.hero-content p {
  width: 75%;
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.hero-image {
  flex: 1;
  max-width: 500px;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3882f6;
  padding: 4px 32px;
  border-radius: 8px;
}

.cta .btn {
  border: 2px white solid;
}

.cards-container {
  display: flex;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}

.card-header {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.card img {
  flex: 1;
  border-radius: 12px;
}

.card p {
  color: grey;
  /* flex-shrink: 0; */
}

.image-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 35px 0 100px;
}

.testimonial {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-text {
  width: 55%;
  padding: 125px 0 100px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.author {
  font-size: 25px;
  font-weight: 700;
  text-align: end;
  padding-right: 35px;
}

.cta {
  padding: 100px 200px;
}

.cta-content h2 {
  color: white;
}

.cta-content p {
  color: #e5e7eb;
}

.cta-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
  border-radius: 8px;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 36px 0;
}

span.material-icons-outlined {
  font-size: 16px;
}
